<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Cubo">
            <directory>app/Cubo2/tests/Unit</directory>
        </testsuite>
        <testsuite name="Controla">
            <directory>app/Controla/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app/Cubo2/src</directory>
            <directory>app/Controla/src</directory>
        </include>
    </source>
</phpunit>
